<a href="https://colab.research.google.com/github/Ayesh-07/Python-Practice-Assignments-for-Absolute-Biggner/blob/main/workshop_Week_1_and_week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1 - Assign your name to the variable `x`, convert it to uppercase, and then print it. Additionally, check
if the uppercase version of your name contains the letter "A" and print the result.

In [7]:
x = "Ayesha"
uppercase = x.upper()
print(uppercase)
if "A" in uppercase:
    print("Yes your name contains the letter 'A'")
else:
    print("No your name does not contain letter 'A'")

AYESHA
Yes your name contains the letter 'A'

Q2 - Print the value of `a` and `b` in one line using the `print` function with formatted string literals.
Use a conditional expression to include an exclamation mark after `b` if `a` is greater than 5.
`a = 10`
`b = "Guru"`

In [12]:
a , b = 10 , "Guru"

print (f"{a} , {b}")

if a > 5:
   print (f"{b}!")

10 , Guru
Guru!

Q3 - Write about 10 possible variable names, including multi-word names and names with numbers.
Ensure the variable names follow Python naming conventions. Assign different data types to each of
these variables and print their types.

In [14]:

name = "Ayesha Nudrat"  # String
number_of_books = 25  # Integer
has_pet = True  # Boolean
weight_kg = 55.5  # Float
hobbies = ["Reading", "illusration", "Coding"]  # List
address_info = {"city": "Sahiwal", "country": "Pakistan"}  # Dictionary
my_grade = (90, 88, 12)  # Tuple
unique_ids = {101, 102, 103}  # Set
Any_experience = None  # NoneType
product_id_2024 = "9923DFR2"  # String with number

# Printing the variable names and their types
print("name:", type(name))
print("number_of_books:", type(number_of_books))
print("has_pet:", type(has_pet))
print("weight_kg:", type(weight_kg))
print("hobbies:", type(hobbies))
print("address_info:", type(address_info))
print("my_grade:", type(my_grade))
print("unique_ids:", type(unique_ids))
print("Any_experience:", type(Any_experience))
print("product_id_2024:", type(product_id_2024))

name: <class 'str'>
number_of_books: <class 'int'>
has_pet: <class 'bool'>
weight_kg: <class 'float'>
hobbies: <class 'list'>
address_info: <class 'dict'>
my_grade: <class 'tuple'>
unique_ids: <class 'set'>
Any_experience: <class 'NoneType'>
product_id_2024: <class 'str'>

 Q4 - Print the data type of the variable `age`. Type cast the variable `age` to a float data type and print
it. Then, convert it to a string and concatenate it with another string to form a sentence. Finally, check if
the float representation is greater than 30 and print the result.
`age = 29

In [19]:
age = 29
print( age , type(age))

age = float(age)
print(age , type(age))

age = str(age)
sentence = "My age is " + age
print(sentence)

if float(age) > 30:
    print  ("Yes , float representation is greater than 30")

else:
    print("No , float representation is not greater than 30")

29 <class 'int'>
29.0 <class 'float'>
My age is 29.0
No , float representation is not greater than 30

Q5 - Given the length and width of a rectangle, calculate its area and perimeter, store them in new
variables, print their values and data types. Then, determine if the area is greater than the perimeter and
print the result.
`length = 66`
`width = 56.9`

In [20]:
length = 66
width = 56.9

area = length * width
perimeter = 2 * (length + width)

print("Area of a rectangle :", area)
print("Perimeter of a rectangle :", perimeter)

if area > perimeter:
    print("Area is greater than perimeter")
else:
    print("Area is not greater than perimeter")

Area of a rectangle : 3755.4
Perimeter of a rectangle : 245.8
Area is greater than perimeter

 Q6 - Print the values of `x`, `y`, and `z` and determine the final value of each variable after a series of
reassignment operations. Explain the changes and the order of operations.
`x = 10`
`z = 19`
`y = 20`
`y = 30`
`x = 15`
`z = 25`

In [21]:
x = 10
y = 20
z = 19
print (x , y , z)

x = 30
y = 15
z = 25
print (x , y , z)

10 20 19
30 15 25

Q7 - Show the output using a single-line comment where the variable `b` is commented out. Explain
the impact of the comment on the program's execution. Then, uncomment `b` and change its value to
"Python" if `a` is less than 200.
`a = 100`
`print(a)`
`b = "Python"`
`print(b)`

In [23]:
b = "Python"
a = 100
print(a)
print(b)

#print(b)  It does not execute

if a < 200:
    b = "Python"
print(b)

100
Python
Python

Q8 - Comment out the following line from the paragraph using a multiline comment: (It was initially
designed by Guido van Rossum in 1991 and developed by Python Software Foundation). Then,
uncomment the line and count the number of words in the entire paragraph.
Python is a widely-used general-purpose, high-level programming language. It was initially designed by
Guido van Rossum in 1991 and developed by Python Software Foundation. It was mainly developed for
emphasis on code readability, and its syntax allows programmers to express concepts in fewer lines of
code.

In [25]:
"""It was initially designed by Guido van Rossum in 1991 and developed by Python Software Foundation."""


Paragraph = "(It was initially designed by Guido van Rossum in 1991 and developed by Python Software Foundation). Then, uncomment the line and count the number of words in the entire paragraph. Python is a widely-used general-purpose, high-level programming language. It was initially designed by Guido van Rossum in 1991 and developed by Python Software Foundation. It was mainly developed for emphasis on code readability, and its syntax allows programmers to express concepts in fewer lines of code."

word_count = len(Paragraph.split())
print (word_count)

76

Q9 - Check whether the following statements adhere to the rules for assigning variables. Correct the
code and then print "Ali Ahmed". Additionally, check if the corrected variable names are alphanumeric
and print the result.
`@variable name = "Ali Ahmed."`
`In = "It cannot be print.

In [4]:
variable_name = "Ali Ahmed."
valid_var_name = "It cannot be print."
print("variable_name")
print(variable_name.isalnum())

variable_name
False

Q10 - Assign one value to multiple variables `x`, `y`, and `z`. Print their IDs to show they refer to the
same memory location. Then, change the value of `y` and print the IDs again to demonstrate how
memory allocation changes.
`Value = 10`
`Value = "Python Programming."`

In [8]:
x = 10
y = 10
z = 10
print(f"id of {x} is :", id(x))
print( f"id of {y} is :",  id(y))
print( f"id of {z} is :",id(z))

y = "Python Programming"
print(f"id of {x} is :", id(x))
print( f"id of {y} is :",  id(y))
print( f"id of {z} is :",id(z))

id of 10 is : 139933323182608
id of 10 is : 139933323182608
id of 10 is : 139933323182608
id of 10 is : 139933323182608
id of Python Programming is : 139932407633424
id of 10 is : 139933323182608

Q11 - Find the ID of the number 3 using the `id` function. Explain what the ID represents in Python.
Then, create another variable with the same value and compare their IDs to discuss Python's handling of
immutable objects.

In [11]:
 x = 3
print ( f"id of {x} is :", id(x))
y = 3
print(f"id of {y} is :", id(y))

# Comparing their IDs
ids_equal = x == y
print("Are the IDs of x and y equal?", ids_equal)

id of 3 is : 139933323182384
id of 3 is : 139933323182384
Are the IDs of x and y equal? True

**ID Function:**

The id() function in Python returns the "identity" of an object, which is a unique identifier for that object during its lifetime.
The identity is a memory address where the object is stored.

**Immutable Objects:**
Numbers (integers), strings, and tuples are examples of immutable objects in Python.
Immutable objects cannot be changed after their creation.
When two variables are assigned the same immutable value, they point to the same memory location.
Comparison:

When x and y are both assigned the value 3, they point to the same object in memory.
This is an optimization feature in Python for immutable objects, which helps save memory and improve performance.

Q12 - Given the string `num_str = "5.67"`, write a program to convert it to a float and then to an
integer. Print the results and explain the changes in data type. Additionally, check if the original string
can be directly converted to an integer and handle any errors gracefully.

In [17]:
num_str = "5.67"
convert_float = float(num_str)
print("Float value:", convert_float)
convert_int = int(convert_float)
print("Integer value:", convert_int)

Float value: 5.67
Integer value: 5

Q13 - Write a program that takes two numbers as input and prints their product and sum. Then,
subtract the smaller number from the larger one and print the result. Use formatted strings for the
output. Additionally, handle the case where the numbers are equal and print an appropriate message.

In [3]:
num1 = float(input("Enter your First number : "))
num2 = float(input("Enter your Second number : "))
if num1 == num2:
    print("Both numbers are equal")
product = num1 * num2
sum = num1 + num2
print((f"Product of  the {int(num1)} and {int(num2)} is : '{int(product)}'"))
print((f"Sum of  the {int(num1)} and {int(num2)} is : '{int(sum)}'"))

Enter your First number : 3
Enter your Second number : 3
Both numbers are equal
Product of  the 3 and 3 is : '9'
Sum of  the 3 and 3 is : '6'

 Q14 - Start with `b = 20`. Use compound assignment operators to:
Increase `b` by 10
Divide `b` by 5
Multiply `b` by 4
Subtract 5 from `b`
Print the final value of `b`. Explain each operation's impact on `b`. Then, check if the final value of `b` is
a multiple of 10 and print the result.

In [6]:
b = 20
b += 10
print(b)
b /= 5
print(b)
b *= 4
print(b)
b -= 5
print(b)

if b % 10 == 0:
 print ("True")
else:
  print ("False")

30
6.0
24.0
19.0
False

Q15 - Given the string "Python Programming", perform the following operations:
Extract and print the substring "Programming".
Replace "Python" with "Java" and print the result.
Split the string into words and print the list.
Convert the entire string to uppercase and print it

In [7]:
x = "Python Programming"
print(x[7:19])
print(x.replace("Python", "Java"))
print(x.split())
print(x.upper())

Programming
Java Programming
['Python', 'Programming']
PYTHON PROGRAMMING

Q16 - Write a program to check if the substring "Python" exists in the string "I am learning Python
programming". Print `True` if it exists, otherwise print `False`. Use the `in` operator for the check. Also,
find and print the position of the substring "Python" in the string.

In [9]:
x = "I am learning Python programming"
if "Python" in x:
    print ("True")
else:
    print ("False")
y = x.index("Python")
print(y)

True
14

concepts:

**count**

returns the number of occurrences of a substring in a string.

**find**

returns the index of the first occurrence of a substring in a string (or -1 if not found).

**index**

returns the index of the first occurrence of a substring in a string (or raises a ValueError if not found).

Q17 - Write a program to concatenate three strings: "Python", "is", and "fun!" and print the result. Use
the `join` method instead of the `+` operator. Additionally, replace any spaces in the concatenated string
with hyphens and print the final result

In [20]:
x = "Python"
y = "is"
z = "fun!"
join = (" ".join([x,y,z]))
print(join)
print(join.replace(" ", "-"))

Python is fun!
Python-is-fun!

Q18 - Assign the following multiline string to a variable and print it:
`"Hello,\nThis is a multiline string.\nWelcome to Python programming!"`
Then, split the string into a list of sentences and print the list.

In [1]:
x = "Hello,\nThis is a multiline string.\nWelcome to Python programming!"
print (x.split())

['Hello,', 'This', 'is', 'a', 'multiline', 'string.', 'Welcome', 'to', 'Python', 'programming!']

 Q19 - Concatenate the strings "Python" and "Programming" with a space in between. Print the result.
Also, count the occurrences of the letter 'o' in the result. Additionally, check if the result starts with "Py"
and ends with "ing".

In [4]:
x = "Python"
y = "Programming"
z = " " . join([x,y])
print(z)
print(z.count("o"))
print(z.startswith("Py") and z.endswith("ing"))

Python Programming
2
True

 Q20 - There are two variables `x = 12` and `y = 13`. Show the output as `1213` but the data type of the
output must be `int`. You have to use string concatenation. Then, convert the result back to an integer
and verify its data type.

In [7]:
x = 12
y = 13
result = str(x) + str(y)
print(result)
print (int(result))
print (type(int(result)))

1213
1213
<class 'int'>

Q21 - Given the string `text = "PythonProgramming"`, print every second character from the string
starting from the second character. Use slicing to achieve this. Also, print the string in reverse order.

In [8]:
text = "PythonProgramming"
print(text[1::2])
print(text[::-1])

yhnrgamn
gnimmargorPnohtyP

Q22 - Convert the string "good morning" to upper case and print it. Write a program to check if the
string "Learning Python" starts with "Learn" and ends with "thon". Given the string "hellohello", count
how many times the substring "lo" appears. Use appropriate string methods.

In [10]:
x = "good morning"
print(x.upper())
y =  "Learning Python"
print(y.startswith("Learn") and y.endswith("thon"))
z = "hellohello"
print(z.count("lo"))

GOOD MORNING
True
2

 Q23 - Write a program to print the following string exactly as it appears: `The file is located at
C:\new_folder\text.txt`. Use escape characters where necessary. Also, replace the backslashes with
forward slashes and print the modified string.

In [14]:
# Original string with escape characters
x = "The file is located at C:\\new_folder\\text.txt"

# Print the original string
print(x)

# Replace backslashes with forward slashes
y= x.replace("\\", "/")

# Print the modified string
print(y)

The file is located at C:\new_folder\text.txt
The file is located at C:/new_folder/text.txt

Q24 - Given the string `" Python Programming "`, remove the leading and trailing whitespaces and
print the cleaned string. Use the appropriate string method. Additionally, replace any remaining internal
spaces with underscores.

In [16]:
x = " Python Programming "
# Remove leading and trailing whitespace
y = x.strip()
print(y)
print(y.replace(" ", "_"))

Python Programming
Python_Programming

Q25 - Write a program to replace all occurrences of "apple" with "orange" in the string `"apple apple
banana apple"` and print the result. Use the `replace` method. Then, split the modified string into
individual words and print the resulting list.

In [17]:
x = "apple apple banana apple"
y = x.replace("apple", "banana")
print (y)
z = y.split()
print(z)

banana banana banana banana
['banana', 'banana', 'banana', 'banana']

Q26 - Split the string `"one-two-three-four"` by the dash `-` and print the resulting list. Use the `split`
method. Additionally, join the list back into a single string using spaces as separators and print the result

In [20]:
x = "one-two-three-four"
y = x.split("-")
print(y)
z = " ".join(y)
print(z)

['one', 'two', 'three', 'four']
one two three four

Q27 - Write a program to reverse the string `"Beginners"` and print the result. Use slicing to reverse the
string. Additionally, check if the reversed string is a palindrome and print the result.

In [22]:
x = "Beginners"
y = x[::-1]
print (y)
if y == x:
    print("Palindrome")
else:
    print("Not Palindrome")

srennigeB
Not Palindrome

 Q28 - Simple Calculator: Create a simple calculator that can perform basic arithmetic operations
(addition, subtraction, multiplication, and division). The program should:
Take two numbers as input from the user.
Ask the user to choose an operation (add, subtract, multiply, divide).
Perform the chosen operation and print the result.
Make use of concepts like type casting, arithmetic operators, assignment operators, and string methods
where applicable. Additionally, handle division by zero and print an appropriate message.

In [15]:
# Take two numbers as input from the user (int or float)
num_1 = float(input ("Enter your first number: "))
num_2 = float(input ("Enter your first number: "))
# Ask the user to choose an operation
print("Choose an operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")
operation = input("Enter your choice (1/2/3/4): ")
# Initialize result to None

result = None
# Perform the chosen operation and convert the result to int
if operation == '1':
    result = num_1 + num_2
    print(f"The result of {num_1} + {num_2} is: {round(result)}")
elif operation == '2':
    result = num_1 - num_2
    print(f"The result of {num_1} - {num_2} is: {round(result)}")
elif operation == '3':
    result = num_1 * num_2
    print(f"The result of {num_1} * {num_2} is: {round(result)}")
elif operation == '4':
    if num_2 == 0:
        print("Error: Division by zero is not allowed.")
    else:
        result = num_1 / num_2
        print(f"The result of {num_1} / {num_2} is: {(result)}")


else:
    print("Invalid input. Please enter numeric values.")

Enter your first number: 78
Enter your first number: 5
Choose an operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter your choice (1/2/3/4): 4
The result of 78.0 / 5.0 is: 15.6

 Q29 - Given the following variables:
`x = 42`
`y = "hello"`
`z = [1, 2, 3]`
`a = 3.14`
`b = False`


Perform the following assignments and operations:
1. Assign the value of `y` to `x`.
2. Assign the second element of list `z` to `y`.
3. Change the third element of list `z` to the value of `x`.
4. Assign the value of `b` to `a`.
5. Check if `x` is equal to `y` and assign the result to `b`.
What are the resulting values of `x`, `y`, `z`, `a`, and `b` after all the assignments and operations? What
are the resulting data types of `x`, `y`, `z`, `a`, and `b` after all the assignments and operations? Explain

In [28]:
x = 42
y = "hello"
z = [1, 2, 3]
a = 3.14
b = False


# Assign the value of y to x.
x = y
print("value of x is :", x)
print("value of y is :", y)

# Assign the second element of list z to y.
y = z[1]
print("value of y is :", y)

# Change the third element of list z to the value of x.
z[2] = x

print("value of x is :", x)

# Assign the value of b to a.

b = a
print("value of b is :", b)

# Check if x is equal to y and assign the result to b

b = x == y
print("value of b is :", b)

# resulting values , operations  and data types of x, y, z, a, and b after all the assignments

print("value of x is :", x , type(x))
print("value of y is :", y ,   type(y))
print("value of z is :", z ,   type(z))
print("value of a is :", a ,  type(a))
print("value of b is :", b ,  type(b) )

value of x is : hello
value of y is : hello
value of y is : 2
value of x is : hello
value of b is : 3.14
value of b is : False
value of x is : hello <class 'str'>
value of y is : 2 <class 'int'>
value of z is : [1, 2, 'hello'] <class 'list'>
value of a is : 3.14 <class 'float'>
value of b is : False <class 'bool'>